[Unit]
Description=Lenovo Extreme Cooling Automation

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/auto_ec.py --temp-on 70 --temp-off 60 --temp-normal-on 50 --temp-normal-off 40 --interval 5
Restart=always
RestartSec=5
RestartPreventExitStatus=2
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
ReadWritePaths=/run
RestrictAddressFamilies=none
LockPersonality=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
