[Unit]
Description=Lenovo Extreme Cooling Automation
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/auto_ec.py
Restart=always

[Install]
WantedBy=multi-user.target
